*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    width: 300px;
    background-color: rgb(6, 6, 6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.sidebar-nav{
    background-color: rgb(18, 18, 18);
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;

}

.sidebar-nav .logo{
    width: 120px;
}

.sidebar-nav img{
    width: 100%;
}

.sidebar-nav ul{
    list-style: none;
}

.sidebar-nav ul li{
    padding: 10px 20px;
}

.sidebar-nav ul li a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;

}

.sidebar-nav ul li a i{
    font-size: 20px;
    margin-right: 10px;

    
}

.library::after{
    content: '+';
    float: right;
    text-align: center;
    border-radius: 50% ;
    font-size: 15px;
}

.create-playlist{
    background-color: #302f2f;
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sidebar-scroll{
    height: 120px;
    overflow-y: auto;
}

.sidebar-scroll::-webkit-scrollbar{

    background-color: transparent;

}

.sidebar-scroll::-webkit-scrollbar-thumb{

    background-color: transparent;
    width: 10px;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb{

    background-color: #999696;
    width: 5px;
}

.create-playlist h4{
    color: #fff
    ;
    font-size: 15;
}

.create-playlist p{
    color: #fff;
    font-size: 12px;
    margin: 12px 0;

}

.create-playlist button{
    padding: 8px 20px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.privacy ul li a{
    text-decoration: none;
    color: #a3a0a0;
    font-size: 12px;
    font-weight: 600;
    margin: 0 5px;
}

.privacy ul{
    list-style: none;
    margin-top: 20px;
}

.privacy ul li{
    padding: 0 12px;
    padding-bottom: 8px;
}


.eng-btn button{
    padding: 10px 30px;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #fff;
    border: 1px solid #818080;
    border-radius: 20px;
    margin: 20px 0;
}

.eng-btn button:hover{
    padding: 11px 31px ;
    border:  1px solid #fff;
}

.main_section{
    margin-left: 300px;
    background-color: #181818;
    height: 100vh;
    overflow: auto;
}

.main_section .top-nav{
    padding: 20px 30px;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-section .top-nav button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

main-section .top-nav .prev-btn button i{
    color: #838181;
    font-size: 22px;
    margin-right: 10px;
}

 .top-nav .login-btn .sign-up{
    color: #838181;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
 }

 .top-nav .login-btn .sign-up:hover{
    color: #ffffff;
 }

 .top-nav .login-btn .login{
    color: #030303;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
 }

 .spotify-playlist{
    padding: 20px 40px;

 }

 .spotify-playlist h2{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
 }

 .spotify-playlist .card{
    display: flex;
    gap: 30px;
    overflow: hidden;
 }

 .spotify-playlist .card .item{
    width: 190px;
    min-width: 140px;
    background-color: #595757;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;

 }



 .spotify-playlist .card .item img{
    width: 120px;
    border-radius: 6px;
    margin-bottom: 10px;
 }

 .spotify-playlist .item h4{
    color: #fff;
 }

 .spotify-playlist .item p{
    color: #8f8e8e;
    font-size: 13px;
    margin-top: 10px;
 }

 .spotify-playlist .play-btn{
    position: relative;
 }

.spotify-playlist .play-btn i{
    position: absolute;
    background-color: rgb(47, 212, 47);
    border-radius: 50%;
    padding: 10px;
    right: 10px;
    top: -40px;
    opacity: 0;
    transition: 0.3s ease all;
}

.spotify-playlist .card .item:hover .play-btn i{
    opacity: 1;
    transform: translateY(-20px);
}


.footer-section{
    padding: 20px 40px;

}

.footer-section .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-section .footer .footer-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-section .footer .footer-links .footer-column{

    margin: 0 12px;

}
.footer-section .footer .footer-links div{
    color: #fff;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;
}

.footer-section .footer .footer-links ul li{
  list-style: none;
  margin:  6px 0;

}

.footer-section .footer .footer-links ul li a{
    text-decoration: none;
    color: #969393;
    font-size: 14px;
    cursor: pointer;

  
  }
.footar .social-link i{
    color: #fff;
    background-color: #353434;
    padding: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
